.butoon{
	padding:10px;
	margin:0 5px;
	line-height:45px;
	border-radius:5px;
    font-weight: 700;
    box-shadow: 0 5px 5px rgba(255,255,255,.2) inset;
    text-shadow: 1px 1px 3px rgba(0,0,0,.6);
}
a:link.butoon, a:visited.butoon{
	color:#fff;
}
.indirbutoon{
	background: orange;
    color: #fff;
    border: 1px solid #f49a3a;
}
.demobutoon{
	background: #27AE60;
    color: #fff;
    border: 1px solid #2a9155;

}
.iconla{
	box-shadow: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display:inline-block;
    vertical-align:middle;
    width:6%;
    text-align:center;
}

.iconla a img{
	max-width:55px;
}